* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.container {
    width: 550px;
    height: 550px;
    border: 1px solid;
    border-color: #FF0000;
    background-color: #F9DFDF;
    padding-top: 80px;
    padding-left: 103px;
}
.make {
    color: #FF0000;
}